@font-face  {
    font-family: 'KFQF', serif;
    src: url('../fonts/HafsNastaleeqVer10.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }


 .font-arabic{
    font-family: 'KFQF', serif;
 }